.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:10px;
    padding:20px;
    width:100%;
    max-height: 400px;
    min-height: 150px;
    background-color: white;
    z-index:1;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    transition: all 0.25s ease-in-out;

}
.product:hover{
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.6)
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;

}
.product > button{
    background: #f0c14b;
    border:1px solid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111

}
.product__price{
    margin-top:5px;
}
.product__info{
    height: 80px;
    margin-bottom: 15px;
}
.product__rating{
    display:flex;
}
.product__title{
    font-weight: 400;
}
.product__buttonResize{
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
.product__buttonResize:hover{
    background: #9c7e31;
}